/* Bootstrap Overrides */
#react-app > .container-fluid {
    padding: 0;
}

#react-app h1 {
    color: #132C54;
    margin-bottom: 40px;
}

#react-app h2 {
    color: #4F678C;
    font-size: 22px;
    margin-bottom: 30px;
}

/* Highlighting rules for nav menu items */
.navbar-inverse li a.active,
.navbar-inverse li a.active:hover,
.navbar-inverse li a.active:focus {
    background-color: #4f678c;
    color: white;
}

/* Override top navigation mid-width for extended menu (default is 750px) */
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-inverse .container {
      width: 850px;
    }
}

.navbar-inverse {
    background-color: #2C4770;
}

.navbar-inverse .navbar-brand {
    padding: 2px 15px 0 15px;
    line-height: 80px;
    font-size: 26px;
    color: #96a3b8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.navbar-inverse .navbar-brand:hover {
    color: #96a3b8;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #4f678c;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #4f678c;
}

.navbar-inverse .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
    background-color: #132c54;
}

@media only screen and (max-width: 490px) {
    .navbar-brand {
        padding-left: 20px;
    }

    .navbar-brand > .extended-title {
        display: none;
    }
}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #4f678c;
}

/* Custom Styles */
#react-app form {
    max-width: 770px;
}

#react-app .analysis-help {
    margin: 20px 0 20px 0;
}