#react-app > .container-fluid {
    padding: 0px;
}

.navbar-inverse {
    background-color: #2C4770;
}

.navbar-inverse .navbar-brand {
    padding: 2px 15px 0 15px;
    line-height: 80px;
    font-size: 26px;
    color: #96a3b8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.navbar-inverse .navbar-brand:hover {
    color: #96a3b8;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #4f678c;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #4f678c;
}

.navbar-inverse .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
    background-color: #132c54;
}

@media only screen and (max-width: 490px) {
    .navbar-brand {
        padding-left: 20px;
    }

    .navbar-brand > .extended-title {
        display: none;
    }
}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #4f678c;
}
